@media screen and (max-width: 428px) {
        .header #description { display:none; }
    }
@font-face {
    font-family: "FixedsysExcelsior";
    font-style: normal;
    font-weight: normal;
    font-smooth: never;
    -webkit-font-smoothing:aliased;
    src: local("FixedsysExcelsior"), url(assets/fonts/FixedsysExcelsiorIIIb.woff2) format("woff2");
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02B9-035F,U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF,U+0400-04FF;
    src: url('assets/fonts/FixedsysExcelsiorIIIb.eot');
    src: url('assets/fonts/FixedsysExcelsiorIIIb.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/FixedsysExcelsiorIIIb.woff') format('woff'),
         url('assets/fonts/FixedsysExcelsiorIIIb.ttf') format('truetype'),
         url('assets/fonts/FixedsysExcelsiorIIIb.svg#FixedsysExcelsior') format('svg');
}

        #title{font-family:"FixedsysExcelsior"}
        a.ablack{color:#FABD2F !important;font-family: "FixedsysExcelsior";font-weight: normal;}
        li{margin-bottom:8px;font-family:"FixedsysExcelsior";}
        ul,ol{margin-left:24px;margin-right:24px;font-family:"FixedsysExcelsior";}
        #all_posts{margin-top:24px;text-align:center;font-family:"FixedsysExcelsior";}
        .light{color:#83A397;}
        .subtitle{color:#666;margin:12px 0px;text-align:left}
        .content p{margin-left:0px;margin-right:0px;}
        p{text-align:justify;font-family:"FixedsysExcelsior";}
        h1{margin-bottom:0px !important;font-weight:normal;}
        #description{font-size:large;margin-bottom:12px;color:#6A847A;}
        h3{margin-top:42px;margin-bottom:8px;font-weight:normal;text-align:left}
        h4{margin-left:24px;margin-right:24px;font-weight:normal;font-size:large;color:#e8bf6a;}
        hr{color:#B2B525;height:2px;background-color:#B2B525;border:none;}
        img{max-width:100%;}
        #twitter{line-height:20px;vertical-align:top;text-align:right;font-style:italic;color:#333;margin-top:24px;font-size:14px;}
        pre {overflow:auto;font-family:"FixedsysExcelsior";font-weight:normal;color:#A5C261;}
		::-webkit-scrollbar {width:10px;height:10px;}
		::-webkit-scrollbar-track {background:#333;}
		::-webkit-scrollbar-thumb {background:#787A19;}
		::-webkit-scrollbar-thumb:hover {background:#B2B525;}
	   .leftimg {
		float:left; /* Выравнивание по левому краю */
		margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
	   }
	   .rightimg  {
		float: right; /* Выравнивание по правому краю  */ 
		margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
	   }
       .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-width: 10%;
        max-width: 100%;
        }
      
       ul.full-width{
            width: 100%; /* Ширина основного блока меню */
            height: 10pt; /* Высота основного блока меню */
            position: relative;
            display: table;
            margin: 0;
            padding: 0;
        
        }
       ul.full-width li {
            display: table-cell;
            position: relative;
        }
       ul.full-width li a {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            text-align:center;
            line-height: 20px; /* Приравниваем к высоте, чтобы выровнять текст по вертикали */
			color: #222;
		    background: #B2B525;
            border-top: medium solid #B2B525;
		    /*border-color: #B2B525;
			border-style: solid;
			border-width: thin;*/
        }
	   ul.full-width li a:hover {
			color: #B2B525;
			background: #222;
            border-color: #B2B525;
	    }
       ul.full-width li ul {
            display: none; /* Скрываем выпадающее меню */
            position: absolute;
            width: 100%;
            margin: 0px;
            padding: 0px;
        }
       ul.full-width li ul li {
            display: block;
        }
       ul.full-width li:hover ul {
            color: #cf0;
            background: #cf0;
            display: block; /* Показываем выпадающее меню, где оно есть, при наведении */
        } 
