@font-face {
	font-family: "FixedsysExcelsior";
	font-style: normal;
	font-weight: normal;
    font-smooth: never;
    -webkit-font-smoothing:aliased;
	src: local("FixedsysExcelsior"), url(assets/fonts/FixedsysExcelsiorIIIb.woff2) format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02B9-035F,U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF,U+0400-04FF;
    src: url('assets/fonts/FixedsysExcelsiorIIIb.eot');
    src: url('assets/fonts/FixedsysExcelsiorIIIb.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/FixedsysExcelsiorIIIb.woff') format('woff'),
         url('assets/fonts/FixedsysExcelsiorIIIb.ttf') format('truetype'),
         url('assets/fonts/FixedsysExcelsiorIIIb.svg#FixedsysExcelsior') format('svg');
}

/*body{font-family:"Courier New","Courier",monospace;margin:0;padding:0;background-color:#222;}*/
/*body{font-family:Georgia,"Times New Roman",Times,serif;margin:0;padding:0;background-color:#222;}*/
body{font-family:"FixedsysExcelsior",,monospace;margin:0;padding:0;background-color:#222;background-image:url("images/pcbbackground.png");}
        #divbodyholder{padding:5px;background-color:#666;width:100%;max-width:874px;margin:24px auto;}
        #divbody{border:solid 1px #222;background-color:#222;padding:0px 48px 24px 48px;top:0;}
        .headerholder{background-color:#333;border-top:solid 4px #222;border-left:solid 4px #222;border-right:solid 4px #222;font-weight:normal;}
        .header{width:100%;max-width:800px;margin:0px auto;padding-top:24px;padding-bottom:8px;font-weight:normal;height:56pt}
        .content{margin-bottom:5%;color:#6A847A;font-family:FixedsysExcelsior;}
        .nomargin{margin:0;}
        .description{margin-top:10px;border-top:solid 1px #666;padding:10px 0;}
        h2{font-size:20pt;width:100%;font-weight:normal;margin-top:32px;margin-bottom:0;color:#e8bf6a}
        h3{font-size:18pt;width:100%;font-weight:normal;margin-top:32px;margin-bottom:0;color:#e8bf6a}
        .clear{clear:both;}
        #footer{padding-top:10px;border-top:solid 1px #B2B525;color:#87B676;text-align:center;font-size:small;font-family:"FixedsysExcelsior";}
        a{text-decoration:none;color:#B2B525;}
        a:visited{text-decoration:none;color:#787A19;}
        blockquote{background-color:#333333;border-left:solid 4px #B2B525;margin-left:12px;padding:12px 12px 12px 24px;}
        blockquote img{margin:12px 0px;}
        blockquote iframe{margin:12px 0px;}

